main{
margin: 50px 0;
}
main .main-description{
    display: flex;
    justify-content: center;
    max-height: 340px;
    margin-bottom: 100px;
    background-color: var(--secondary-color);
}
main .main-description .text{
    margin-top: 50px;
    margin-right: 75px;
}
main .main-description h2{
    font-family: var(--font);
    font-size: 42px;
    font-weight: 100;
    color: var(--primary-color);
    text-align: left;
    margin: 0;
}
main .main-description h3{
    font-family: var(--font);
    font-size: 32px;
    font-weight: 100;
    color: #FFF;
    text-align: left;
    margin: 0;
}
main .main-description p{
    font-family: var(--font);
    font-size: 22px;
    color: #FFF;
    max-width: 300px;
    text-align: left;
}
main .main-description a, .cards-header a{
    background-color: var(--primary-color);
    font-family: var(--font);
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    margin-bottom: 0;
}

main .main-description a:hover, .cards-header a:hover{
    font-weight: bold;
    transition: .2s;
}

main .main-description .img{
    margin-left: 75px;
    margin-top: 65px;
}
main .main-description .img img{
    max-width: 400px;
    max-height: 300px;
    border-radius: 25px;
}
main .main-description .img img:hover{
    transform: translate(-20px, 20px);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
    font-size: 22px;
}

.cards-header a{
    font-size: 22px;
}

@media screen and (max-width: 700px) {
    main .main-description .text{
        margin-right: 25px;
    }
    main .main-description .img{
        margin-left: 25px;
    }
}
@media screen and (max-width: 600px) {
    main .main-description{
        max-height: 100%;
        flex-direction: column;
    }
    main .main-description .text{
        margin: 50px;
    }
    main .main-description .img{
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }
    main .main-description p{
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .cards-header{
        flex-direction: column;
    }
}